<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Inicio</title>
    <link rel="stylesheet" href="../static/index.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
      integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
      integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/"
                  >INICIO</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/vista2">vista1</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/MuseoFrida">Frida Kahlo</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/PinturasAbstractas"
                  >PinturasAbstractas</a
                >
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <div class="row row-cols-1 row-cols-md-3 g-4">
      <div class="col">
        <div class="card">
          <img
            src="https://i.pinimg.com/564x/ee/f5/2e/eef52e9fb485287915faec3c60d82097.jpg"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">Espacio artistico de Frida Kahlo</h5>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img
            src="https://i.pinimg.com/564x/2a/a6/a6/2aa6a63537a1d752bdc087f46412846e.jpg"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">Frida Kahlo y Diego</h5>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card">
          <img
            src="https://i.pinimg.com/564x/10/ee/c2/10eec2630ecaf2d560f7b0970869e331.jpg"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">Frida Kahlo</h5>
          </div>
        </div>
        <!-- <div class="col">
          <div class="card">
            <img
              src="https://img.maspormas.com/2016/02/Museo_Frida_Khalo-10.jpg"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">Entrada de la casa azul</h5>
            </div>
          </div>
        </div> -->
      </div>
    </div>
  </body>
</html>
