<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PinturasAbstractas</title>
    <link rel="stylesheet" href="../static/index.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
      integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
      integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container-fluid">
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">INICIO</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/vista2">vista1</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/MuseoFrida">Frida Kahlo</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/PinturasAbstractas">Pinturas Abstractas</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <hr>
    
    <div class="container dflex justify-content-center ">
     
      <div class="row row-cols-1 row-cols-md-3 g-4 mt-5">
        <div class="col ">
          <div class="card shadow-lg p-3 mb-5 bg-body rounded">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSkYo80AEfdY5KV_jGrJAOkvCxq3FfMcGxNbA&usqp=CAU" class="card-img-top" alt="..."style="height:250px;"/>
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">
                Arte africano sentimental pinturas abstractas glamorosas y creat HD en Lovepik, este formato de imagen es JPG, el número de lovepik es 501078762, la escena de uso es Antecedentes, el tamaño es 2.3 MB. Estas fotos de archivo se pueden editar y aplicar en el diseño de pancartas, carteles y otras plantillas para hacer que su diseño publicitario sea más sobresaliente. Descarga gratuita de más de 500,000 mejores imágenes de derechos de autor de abstracción,África,africano etc. para uso comercial.
              </p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-lg p-3 mb-5 bg-body rounded">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRVaaEIKW83Q3NQaaxlBZiNIysCmLsK5JfuxA&usqp=CAU" class="card-img-top" alt="..." style="height:250px;" />
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">
                Arte Abstracto Contemporáneo Colombiano
                Cuadros Modernos de Pintura Abstracta al Óleo
                Maestros del Arte Abstracto en Colombia
                Pintura Abstracta Contemporánea
                El Color y Los Trazos del Verdadero Arte Abstracto
                Cuadros Modernos de Pintura Abstracta al Óleo
                Maestros del Arte Abstracto 
                Pintores Colombianos Famosos de Arte Abstracto
                Cuadros Abstractos Pintaos al Óleo Sobre Lienzo
                Maestros del Arte Abstracto 
                una composición ultra moderna, las artistas son: Mario Ayerbe, Pedro Cabrera y Carlos Jacanamijoy. 
              </p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-lg p-3 mb-5 bg-body rounded">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQTnmwuTuu3XnGtyzHZnOdAily1g_z5J7oUOQ&usqp=CAU" class="card-img-top" alt="..."style="height:270px;" />
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">
                Pinturas Abstractos Modernos Colores
                Abstractos Modernos al Óleo Sobre Lienzo
                Pintura Moderna al Óleo
                Pinturas: Abstractos al Óleo
                Arte Abstracto
                CUADROS ABSTRACTOS MODERNOS PINTADOS AL OLEO SOBRE LIENZO Ricardo Chávez Méndez, Torreón, Coahuila, México Pinturas Decorativas
                Pinturas Abstractos Modernos Colores
                Abstractos Modernos al Óleo Sobre Lienzo
                Pintura Moderna al Óleo
                Pinturas: Abstractos al Óleo
                Arte Abstracto
                Pintura Moderna al Óleo
                Pinturas: Abstractos al Óleo


              </p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-lg p-3 mb-5 bg-body rounded">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRRH5cU0rJ5R39Mh_2Fdxe0eI-3gzlDM6dLOQ&usqp=CAU" class="card-img-top" alt="..."style="height:250px;"  />
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">
                Jackson Pollock (1912-1956) fue un artista estadounidense considerado como una figura clave dentro del Expresionismo abstracto, movimiento en el que destacó por sus características obras. Además, su legado artístico lo ha posicionado como uno de los artistas más influyentes y destacables del siglo XX en Estados Unidos.
                Pollock inició sus estudios en 1929 en la escuela Art Students League, situada en Nueva York.  Su trabajo empezó a cobrar importancia cuando el Museo de Arte Moderno de Nueva York (MOMA) le otorgó críticas positivas, interesándose así por sus obras.
              </p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-lg p-3 mb-5 bg-body rounded">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRqNqvwnRHSqkksmW1M041AVl41tCgIvNu6fQ&usqp=CAU" class="card-img-top" alt="..."style="height:300px;"  />
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">
                La gloria de las pinturas al óleo en la época del Renacimiento permitió que esta técnica de pintura particular continuara su herencia hasta esta era y las obras maestras de esta técnica continúan asombrando a muchos fanáticos del arte de las generaciones pasadas y presentes.
                Comenzar una carrera en pintura al óleo requerirá  ser muy cuidadoso y meticuloso con las opciones en pinturas  y sus preparaciones. También es necesaria mucha práctica para poder crear obras de arte maestras.
              </p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-lg p-3 mb-5 bg-body rounded">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSFW-0SPQYsHWVwVlUX5zz8iHfgHoEXk8TSdQ&usqp=CAU" class="card-img-top" alt="..."style="height:300px;"  />
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">
                Grandes Pinturas Abstractas Sobre Lienzo Pan de Oro Acrílico azul arte original extra Pintura grande pared cuadros enmarcados arte mural cuadros abstractos
                Arte Abstracto Contemporáneo Colombiano
                Cuadros Modernos de Pintura Abstracta al Óleo
                Maestros del Arte Abstracto en Colombia
                Pintura Abstracta Contemporánea
                El Color y Los Trazos del Verdadero Arte Abstracto 
                Arte Abstracto Contemporáneo Colombiano
                Cuadros Modernos de Pintura Abstracta al Óleo
               
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    
  </body>
</html>
